<h2 class="border-start border-5 mx-3 p-3"><%= @ask %></h2>
<h3> - You </h3>

<br />

<h2 class="border-start border-5 mx-3 p-3 alert alert-warning" class="coach"><%= @answer %></h2>
<h3> - Stupid Coach </h3>

<br />

<p><%= link_to("Ask again", :ask) %></p>
